@import "variables.scss";

#tituloGaleria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;

}

#carouselExampleFade{
    margin-bottom: 50px;
    margin-top: 40px;
      
}

#galeria_img1{
    height: $imgGaleriaHeight;
    image-rendering:optimizeQuality;
}

#galeria_img2{
    height: $imgGaleriaHeight;
    image-rendering:optimizeQuality ;
}

#galeria_img3{
    height: $imgGaleriaHeight;
    image-rendering: optimizeQuality;
}

#galeria_img4{
    height: $imgGaleriaHeight;
    image-rendering: optimizeQuality;
}