#tituloGaleria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;

}



#galeria_img1{
    height: 450px;
}

#galeria_img2{
    height: 450px;
}

#galeria_img3{
    height: 450px;
}

#galeria_img4{
    height: 450px;
}