@import "variables.scss";

#contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#parrafoProductos{
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 100px;
}
.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#botonCarro{
    background-color: rgba(153, 139, 212, 0.295);
    border-radius: 70%;
    border: transparent;
    max-height:min-content;
}
#imgCarro{
    max-width: 50%;
    max-height: 50%;
}
#contCarro{
    background-image:url("../multimedia/icono\ carrito.png");
    max-height: 100%;
    max-width: 100%;
}
.productoAgregado{
    display: flex;
    flex-direction: row;
}

.productoAgregado img{
    max-width: 20%;
    max-height: 20%;
}
.btnBorrar{
    background-image: url("../multimedia/iconoBorrar.png");
    background-repeat: no-repeat;
    min-width: 10%;
}