@import "variables.scss";

#contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#parrafoProductos{
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 100px;
}
#mainProduct{
    margin-top: 50px;
}
#botonCarro{
    background-color: rgb(81, 83, 235);
    border: transparent;
}

#imgCarro{
    max-width: 100%;
    max-height: 100%;
}
#contCarro{
    background-color: rgb(81, 83, 235);
    max-height: 100%;
}