@import "variables.scss";

#contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#parrafoProductos{
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card{
    
    max-width: 25%;
}