.tituloUbicacion{
    text-align: center;
    font-size: 4vw;
}

.textUbicacion {
    font-size: 1.5vw;
    text-align: center;
    color: white;
}

#mapa{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

